// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f9f5f5;
$white: white;
$dark: rgb(34, 44, 50);
$darker: rgb(20, 27, 32);
$orange_red: #FF5722;
