<div class="container mt-5">
<h3 class="+mt-5">All skills</h3>
  <div class="cards  mt-5">
    <% @skills.each do |skill| %>

          <div class="card-trip">
            <img src=<%=skill.img_url%> />
            <div class="card-trip-infos">
              <div>
                <h2><%= skill.name %></h2>
                <p><%= skill.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= skill.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
    <% end %>
  </div>
</div>
