<div class="container mt-5">
<h3 class="+mt-5">All skills</h3>
  <div class="cards  mt-5">
      <% @skills.each do |skill| %>
          <a href="../skills/<%= skill.id%>" >
          <div class="card-trip">

          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= "#{skill.name}" %></h2>
              <p><%= "Level #{skill.level}" %></p>

            </div>
            <h2 class="card-trip-pricing"><%= "#{skill.price}" %></h2>
          </div>

          </div>
          </a>
      <% end %>

  </div>
</div>
