<div id="large-header" style="background-image: url('https://res.cloudinary.com/dul2z0iaw/image/upload/v1669319384/hard_light_sfmehq.jpg');">
  <canvas id="demo-canvas"></canvas>
  <div class="canvas-header">
    <h1 style='margin-top: -100px;'>INSTANT SKILLS</h1>
    <%# <p>Just pick skills - Let others learn</p> %>
  </div>
</div>

<%= form_with url: skills_path, method: :get, class: "search-box-home" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-input",
    placeholder: "Find a skill"
  %>
  <button class="search-btn">
    <i class="fas fa-search"></i>
  </button>
<% end %>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
