
<div class="banner vh-75" style="background-image: url(<%= asset_path('banner.png') %>);">
  <div class="container">

    <h1>The skills you need - instantly</h1>
    <p>Change your life and use the skills that somebody else does not need.</p>
    <%= form_with url: skills_path, method: :get, class: "search-box-home" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Find a skill"
      %>
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
</div>

