.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: all 0.3s ease;
}

.btn-ghost:hover {
  // opacity: 1;
  color: $orange_red;
}

.btn-flat {
  color: rgb(96, 95, 95);
  padding: 8px 24px;
  border-radius: 4px;
  transition: all 0.3s ease;
  border: 1px solid $light-gray;
}

.btn-flat:hover {
  background: $orange_red;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: all 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}
