.skill-card {
  width: 900px;
  height: 150px;
  display: flex;
  position: relative;
}

.skill-info1 {
  width: 700px;
}

.skill-info2 {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}
